html, body{
    margin: 0;
    text-align: center;
}
.wrapper {
    height: 100%;
    width: 100%;
    background-color: #ccc;
}
.slider-box {
    width: 60%;
    height: 60%;
    border: 4px solid #fff;
    margin: 0 auto;
}
.slider {
}
.slide {
}
.slider__slide {
    position: relative;
}
.slide__img {
    width: 100%;
}
.slider__description {
}
.toggles {
}
.toggle-link {
}